# Build & Gradle
*.iml
.gradle
/build
/captures
.externalNativeBuild
.cxx
.DS_Store

# IDE Settings
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Secrets & Local Configurations (SECURITY)
/local.properties
local.properties
*.jks
*.keystore
*.pepk
google-services.json
secrets.properties
